.card.text-white.bg-primary.mb-3 {
    height: 250px;
    width: 300px;
}
#education{
    font-family: 'Nunito', sans-serif; 
}
span.card-text{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: black;
}

.edu-degree {
    color: #645255;
}
i.fa.fa-graduation-cap:hover{
    color: #67107c;
}
i.fa.fa-graduation-cap{
    margin-left: 2px;
}